In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/mercedesbenz.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

In [45]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [46]:
for col in df:
    print(col, ":", len(df[col].unique()))

X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12

In [47]:
# Cols created after 1-hot encoding
pd.get_dummies(df, drop_first=True).shape

(4209, 117)

dummies are ofen called binary value(0, 1).
Here 112 extra values is being created wich can slow down process of Machine Algos

In [48]:
df.X2.value_counts().sort_values(ascending = False).head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [49]:
top_10 = [x for x in df.X2.value_counts().sort_values(ascending = False).head(10).index]

In [50]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [53]:
for label in top_10:
    df[label] = np.where(df['X2'] == label, 1, 0)
print(df[['X2'] + top_10].head(10))

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0
5   e   0   0   0  0   0  0  0  0  0  1
6   e   0   0   0  0   0  0  0  0  0  1
7  as   1   0   0  0   0  0  0  0  0  0
8  as   1   0   0  0   0  0  0  0  0  0
9  aq   0   0   0  0   0  0  0  0  0  0

In [59]:
def one_hot_top_10(df, var, top_x_label):
    for label in top_x_label:
        df[var +"_"+ label] = np.where(df[var] == label, 1, 0)
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/mercedesbenz.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
one_hot_top_10(df, 'X2', top_10)

In [60]:
df.head(10)

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0
5,b,e,c,d,g,h,0,0,0,0,0,0,0,0,0,1
6,r,e,f,d,f,h,0,0,0,0,0,0,0,0,0,1
7,l,as,f,d,f,j,1,0,0,0,0,0,0,0,0,0
8,s,as,e,d,f,i,1,0,0,0,0,0,0,0,0,0
9,b,aq,c,d,f,a,0,0,0,0,0,0,0,0,0,0

## ----------------------------------------------------------------------------------------------------------------------------------

## Count / Freaquency encoding
- If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically
-  Replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/mercedesbenz.csv', usecols=['X1', 'X2'])

In [3]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
df.shape

(4209, 2)

### one hot encoding

In [5]:
pd.get_dummies(df).shape

(4209, 71)

### Count

In [9]:
len(df['X1'].unique())

27

In [12]:
len(df['X2'].unique())

44

In [14]:
data_freq = df.X2.value_counts().to_dict()

In [17]:
# Replace X2 by counts
df_X2 = df.X2.map(data_freq)

In [19]:
print(df_X2.head())

0      6
1      4
2    137
3    137
4    137
Name: X2, dtype: int64

### Advantage
- simple to impliment
- don't increase  dimension 
### Disadvanage 
- if label have same count then we can loose some innformation

# ---------------------------------------------------------------------------------------------------------------

In [22]:
import pandas as pd
import datetime

In [27]:
df = datetime.datetime.today()
df_date_list = [df - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df.head()

                      day
0 2020-09-06 17:44:09.533
1 2020-09-05 17:44:09.533
2 2020-09-04 17:44:09.533
3 2020-09-03 17:44:09.533
4 2020-09-02 17:44:09.533