# Handle Categorical Features
## One Hot Encoding

### create more features (100 char then it will create 99 features)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [5]:
# Name is set alphabetically( F then M)
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [6]:
# we can drop one col as we can predict other col value by using it
pd.get_dummies(df, drop_first = True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv',usecols=['Embarked'])

In [8]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [13]:
df.dropna(inplace = True)

In [14]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [15]:
pd.get_dummies(df, drop_first = True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

### One-hot-encoding with many categories in a feature

In [16]:
df=pd.read_csv('mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [18]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [22]:
for i in df.columns:
    print(len(df[i].value_counts()))

47
27
44
7
4
29
12

### one hot encoding is bad for this many data
## Solution-
### take 10 most freq charecters

In [24]:
df.X1.value_counts().sort_values(ascending = False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [27]:
top_10 = df.X1.value_counts().sort_values(ascending = False).head(10).index
top_10 = list(top_10)
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [29]:
import numpy as np
for index in top_10:
    df[index] = np.where(df['X1'] == index, 1, 0)

In [32]:
top_10.append('X1')
df[top_10].head(10)

   aa  s  b  l  v  r  i  a  c  o X1 X1
0   0  0  0  0  1  0  0  0  0  0  v  v
1   0  0  0  0  0  0  0  0  0  0  t  t
2   0  0  0  0  0  0  0  0  0  0  w  w
3   0  0  0  0  0  0  0  0  0  0  t  t
4   0  0  0  0  1  0  0  0  0  0  v  v
5   0  0  1  0  0  0  0  0  0  0  b  b
6   0  0  0  0  0  1  0  0  0  0  r  r
7   0  0  0  1  0  0  0  0  0  0  l  l
8   0  1  0  0  0  0  0  0  0  0  s  s
9   0  0  1  0  0  0  0  0  0  0  b  b