# Ordinal Number Encoding ( on the basis of RANK)

### Create Dictionary like some number/certain code
Step1: dictionary = {'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
### change Data with help of map function
Step2: df['weekday_ordinal']=df['weekday'].map(dictionary)

## Category to integer

In [1]:
import datetime
today_date = datetime.datetime.today()
today_date

datetime.datetime(2020, 9, 9, 16, 53, 5, 969097)

In [4]:
# List Comprehension

days = [today_date - datetime.timedelta(x) for x in range(0, 16)]

In [20]:
import pandas as pd
df = pd.DataFrame(days)
df.columns = ["Day"]

In [21]:
df.head()

                         Day
0 2020-09-09 16:53:05.969097
1 2020-09-08 16:53:05.969097
2 2020-09-07 16:53:05.969097
3 2020-09-06 16:53:05.969097
4 2020-09-05 16:53:05.969097

In [22]:
df['weekday'] = df['Day'].dt.day_name()

In [29]:
df.head()

                         Day    weekday
0 2020-09-09 16:53:05.969097  Wednesday
1 2020-09-08 16:53:05.969097    Tuesday
2 2020-09-07 16:53:05.969097     Monday
3 2020-09-06 16:53:05.969097     Sunday
4 2020-09-05 16:53:05.969097   Saturday

In [30]:
dictionary = {'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [32]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [35]:
df['weekday_ordinal']=df['weekday'].map(dictionary)

In [36]:
df.head()

                         Day    weekday  weekday_ordinal
0 2020-09-09 16:53:05.969097  Wednesday                3
1 2020-09-08 16:53:05.969097    Tuesday                2
2 2020-09-07 16:53:05.969097     Monday                1
3 2020-09-06 16:53:05.969097     Sunday                7
4 2020-09-05 16:53:05.969097   Saturday                6

# Count Or Frequency Encoding

In [41]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',  header = None,index_col=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [42]:
cols = [1, 3, 5, 6, 7, 8, 9, 13]

In [48]:
data = df[cols]

In [49]:
data.head()

,1,3,5,6,7,8,9,13
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [51]:
data.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']

In [55]:
for feature in data.columns[:]:
    print(feature , ":" , len(data[feature].unique()))

Employment : 9
Degree : 16
Status : 7
Designation : 15
family_job : 6
Race : 5
Sex : 2
Country : 42

In [61]:
dicts = data['Country'].value_counts().to_dict()

In [62]:
data['Country'] = data['Country'].map(dicts)

In [63]:
data.head()

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95

### Advantages
1. Easy To Use
2. Not increasing feature space 
### Disadvantages
1. It will provide same weight if the frequencies are same
2. Target Guided Ordinal Encoding
3. Ordering the labels according to the target
4. Replace the labels by the joint probability of being 1 or 0