# Problity ratio encoding

1. Probability of Survived based on Cabin--- Categorical Feature
2. Probability of Not Survived---1-pr(Survived)
3. pr(Survived)/pr(Not Survived)
4. Dictonary to map cabin with probability
5. replace with the categorical feature

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Cabin','Survived'])

In [2]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
df['Cabin'].fillna('Missing', inplace = True)

In [5]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [6]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [10]:
prob_df = df.groupby(['Cabin'])['Survived'].mean()

In [11]:
p_df = pd.DataFrame(prob_df)

In [12]:
p_df.head()

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000

In [13]:
p_df['died'] = 1 - p_df['Survived']

In [14]:
p_df.head()

       Survived      died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [15]:
# Probability Ratio
P_df['probability_ratio'] = p_df['Survived'] / p_df['died']

In [16]:
p_df.head()

       Survived      died  probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [19]:
probability_encoded = p_df['probability_ratio'].to_dict()

In [22]:
df['Cabin_encoded'] = df['Cabin'].map(probability_encoded)

In [24]:
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274

In [34]:
df.drop('Cabin', axis = 1, inplace = True)

KeyError: "['Cabin'] not found in axis"

In [35]:
df.head()

   Survived  Cabin_encoded
0         0       0.428274
1         1       1.458333
2         1       0.428274
3         1       1.458333
4         0       0.428274