## Target Guided Ordinal Encoding
- Ordering the labels according to the target
- Replace the labels by the joint probability of being 1 or 0

- In this rank is assigned more occurence more rank

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Cabin','Survived'])

In [3]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
df['Cabin'].fillna('Missing', inplace = True)

In [5]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [6]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [7]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [22]:
df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending =False).index

Index(['D', 'E', 'B', 'F', 'C', 'G', 'A', 'M', 'T'], dtype='object', name='Cabin')

In [15]:
ordinal_labels = df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending =False).index

In [16]:
ordinal_labels2 = {k: i for i, k in enumerate(ordinal_labels, 0)}

In [17]:
ordinal_labels2

{'D': 0, 'E': 1, 'B': 2, 'F': 3, 'C': 4, 'G': 5, 'A': 6, 'M': 7, 'T': 8}

In [18]:
df['cabin_ordinal_labels'] = df['Cabin'].map(ordinal_labels2)

In [24]:
df.head(20)

    Survived Cabin  cabin_ordinal_labels
0          0     M                     7
1          1     C                     4
2          1     M                     7
3          1     C                     4
4          0     M                     7
5          0     M                     7
6          0     E                     1
7          0     M                     7
8          1     M                     7
9          1     M                     7
10         1     G                     5
11         1     C                     4
12         0     M                     7
13         0     M                     7
14         0     M                     7
15         1     M                     7
16         0     M                     7
17         1     M                     7
18         0     M                     7
19         1     M                     7

# Mean Encoding

In [30]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [31]:
df['meam_ordinal_encode'] = df['Cabin'].map(mean_ordinal)

In [32]:
df.head()

   Survived Cabin  cabin_ordinal_labels  meam_ordinal_encode
0         0     M                     7             0.299854
1         1     C                     4             0.593220
2         1     M                     7             0.299854
3         1     C                     4             0.593220
4         0     M                     7             0.299854

### Advantage 
1. Captures information within the label, rendering more predictive features.
2. Creates monotonic relationship between variable and target.
### Disadvantage
1. Prones to overfitting

- A monotonic relationship is a relationship that does one of the following: 
1. As the value of one variable increases, so does the value of the other variable
2. As the value of one variable increases, the other variable value decreases.

![title](https://statistics.laerd.com/statistical-guides/img/spearman-1-small.png)